<div>
  <div>
    <p>Rạp: {{theater.tenCumRap}}</p>
    <p>Địa chỉ: {{theater.diaChi}}</p>
  </div>
  <div>
    <!-- https://stackoverflow.com/questions/40774697/how-to-group-an-array-of-objects-by-key/40774759#40774759 -->
    <div *ngFor="let movie of theater.danhSachPhim">
      <p class="bg-warning d-block">{{movie.tenPhim}}</p>
      <div class="row">
        <div class="col-md-3 mb-4" *ngFor="let schedule of movie.lstLichChieuTheoPhim">
          <button class="btn btn-success" routerLink="/seatbooking/{{schedule.maLichChieu}}">
            {{schedule.ngayChieuGioChieu | date:'medium' }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>