.background {
  background-image: '../../../assets/img/movieDetailBg.jpg';
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fa.fa-star{
  color: rgb(255, 255, 111);
}

.movie-detail {
  margin-top: 70px;
}

.col-3.mt-3 {
  height: 300px;
}