<div class="row my-3">
  <div class="col-12 text-center">
    <button class="btn mr-2" [ngClass]="{'btn-success':nowPlayingStatus}" (click)="nowPlayingDisplay()">Phim đang chiếu</button>
    <button class="btn" [ngClass]="{'btn-success':!nowPlayingStatus}" (click)="upcomingDisplay()">Phim sắp chiếu</button>
  </div>
</div>

<div class="row">
  <div class="col-12" *ngIf="nowPlayingStatus else upcoming">
    <app-now-playing></app-now-playing>
  </div>
  
  <ng-template #upcoming>
    <div class="col-12">
      <app-upcoming></app-upcoming>
    </div>
  </ng-template>
</div>
